h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.display {
  font-family: 'PT Serif', serif;
}

.footnote {
  font-size: 0.8em;
  color: var(--grey-medium);
}

.success {
  color: var(--green-dark);
}

.danger {
  color: var(--red-dark);
}

.light {
  color: rgba(255, 255, 255, 0.6);
}
