h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

.text--display {
  font-family: 'PT Serif', serif;
}

.text--footnote {
  font-size: 0.8em;
}

.text--success {
  color: var(--green-dark);
}

.text--danger {
  color: var(--red-dark);
}
