:host {
  display: block;
}

.sidebar {
  width: 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  margin: 2em 0 4em 0;
  align-items: flex-start;
  align-content: flex-start;
}

.label {
  font-size: 0.8em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

label {
  margin-left: 0.5em;
}

.seperator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.content {
  padding: 0 2em;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 2em;
  row-gap: 2em;
  column-gap: 2em;
}

.pizza-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.radio-container {
  color: #121212;
  font-size: 1.1em;
  font-weight: 400;
}

.pizza-emoji {
  font-size: 3em;
}

.pizza-toppings-container {
  overflow: scroll;
}

.pizza-skel-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 2em;
  row-gap: 2em;
  column-gap: 2em;
  width: 100%;
}

.warning-container {
  display: block;
  background: #fff7dc;
  padding: 0.25em 1em;
  border-radius: 1em 0 0 1em;
  border: 1px solid #ffeaa7;
  border-right: 0;
}

.pizza-details-loader {
  width: 200px;
}
