:host {
  display: flex;
  width: 100%;
  height: 100vh;
  background: var(--green-lightest);
  justify-content: space-around;
  align-items: center;
}

.text--success {
  font-family: 'PT Serif', serif;
  color: var(--green-dark);
  margin: 0;
  padding: 0;
}

.skel__line {
  height: 10px;
  width: 500px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--site-border-radius);
  background-image: linear-gradient(90deg, #f4f4f4 0px, rgba(229, 229, 229, 0.8) 40%, #f4f4f4 100%);
  background-size: 200%;
  animation: skel-shine 1s infinite ease-out;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

@keyframes skel-shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
