button {
  background: none;
  border: 0;
  font-size: 0.9em;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
}

/* VARIANT */
.primary {
  font-weight: 600;
  padding: 0.5em 1em;
  background: var(--blue-regular);
  color: white;
  border-radius: 0.25em;
}
.primary:hover {
  background: var(--blue-dark);
}
.primary:active {
  background: var(--blue-darkest);
}

.transparent--white {
  outline: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.3em 0.3em 0em 0.3em;
  border-radius: 0.25em;
  font-size: 1.25em;
}
.transparent--white:hover {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

/* BLOCK */
.wide {
  display: block;
  width: 100%;
}

/* SPINNER */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.in-action {
  padding: 0.3em 0.8em;
}
