button {
  background: none;
  outline: none;
  border: 0;
  font-size: 0.9em;
}

button:hover {
  cursor: pointer;
}

.primary {
  font-weight: 600;
  padding: 0.5em 1em;
  background: var(--blue-regular);
  color: white;
  border-radius: 0.25em;
}

.primary:hover {
  background: var(--blue-dark);
}

.primary:active {
  background: var(--blue-darkest);
}
