:host {
  display: block;
  width: 100%;
  height: 100vh;
  background: var(--site-bg-color);
}

/* .reader--panel {
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  width: 20%;
  height: 95vh;
  padding: 0 1em;
}

.reader--panel footer {
  display: flex;
  align-items: center;
}

embed {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
} */

.ui__reader {
  height: 100vh;
}

.ui__reader__left-panel {
  position: relative;
  left: 0;
  top: 0;
  width: 20%;
  color: rgba(255, 255, 255, 0.8);
}

.ui__reader__left-panel footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  margin-bottom: 2em;
}

.ui__reader__right-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  /* background: pink; */
}
