@import 'reset/reset.css';
@import 'vars/vars.css';

body {
  font-size: var(--site-font-size--body);
  color: var(--grey-dark);
  font-family: 'Montserrat', sans-serif;
  line-height: var(--site-line-height);
}
