:host {
  width: 45%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  background: var(--grey-dark);
  border-radius: var(--site-border-radius) var(--site-border-radius) 0 0;
  color: white;
}

footer {
  padding: 0 var(--site-padding-default);
  border: 1px solid var(--grey-lightest);
  border-radius: 0 0 var(--site-border-radius) var(--site-border-radius);
  word-wrap: break-word;
}

.item-doc--skel {
  height: 250px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--site-border-radius);
  background-image: linear-gradient(90deg, #f4f4f4 0px, rgba(229, 229, 229, 0.8) 40%, #f4f4f4 100%);
  background-size: 200%;
  animation: skel-shine 1s infinite ease-out;
}

@keyframes skel-shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
