:host {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6em;
}

.article__container {
  width: 100%;
  height: 150px;
  background: wheat;
  border-radius: var(--site-border-radius);
}

input[type='radio']:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.5em;
}

table,
td {
  border: 1px solid var(--grey-lightest);
  text-align: left;
}

th,
td {
  padding: 0.5em 0.5em;
}
