a {
  text-decoration: none;
  display: inline-block;
  color: var(--blue-regular);
}

a:hover {
  color: var(--blue-dark);
}

a:active {
  color: var(--blue-darkest);
}

.nav__link {
  padding: 0.5em 0 0.5em 0.75em;
}

.nav__link--active {
  color: var(--blue-darkest);
  background: var(--blue-lightest);
  border-radius: var(--site-border-radius);
  padding: 0.5em 0 0.5em 0.75em;
}

.danger {
  color: var(--red-regular);
}

.danger:hover {
  color: var(--red-dark);
}

.danger:active {
  color: var(--red-darkest);
}
