:host {
  display: flex;
  width: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 20%;
  height: 100vh;
  padding: 2em;
  position: fixed;
  border-right: 1px solid var(--grey-lightest);
}

.right-panel {
  box-sizing: border-box;
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  padding: 2em;
}
